@{
    ViewData["Title"] = "Inicio";
}

<h1>Sala de Escape</h1>
<p>¡Bienvenido a la Sala de Escape!</p>
<a href="@Url.Action("Tutorial")">Tutorial del juego</a>
<a href="@Url.Action("Comenzar")">Iniciar Juego</a>
<a href="@Url.Action("Creditos")">Créditos</a>